#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.result {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  font-size: 2rem;
  padding: 20px;
  border-radius: 99%;
  color: #afd2e9;
  margin-bottom: 20px;
  transition: all;
  transition-duration: 2s;
}

.active {
  color: #02130b;
  background-color: #0dce9e;
}
.inactive {
  background-color: #02130b;
  color: #0dce9e;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
